@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("/fonts/BarlowCondensed-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lamoric Rowen";
  src: url("/fonts/LamoricRowenTTF.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Base */
  --color-bg: #0b0b0c;
  --color-text-primary: #ededed;
  --color-text-secondary: rgba(237, 237, 237, 0.6);

  /* Accent */
  --color-accent: #c5a47e;

  /* Padding */
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 32px;
  --space-4: 64px;

  /* Font sizes */
  --font-xs: 8px;
  --font-sm: 12px;
  --font-md: 16px;
  --font-lg: 24px;
  --font-xl: 32px;
  --font-2xl: 48px;
  --font-3xl: 64px;
  --font-4xl: 96px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}
#root {
  padding: var(--space-3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
